.movieCard {
  border-radius: 12px;
  background: #fff;
  color: #000;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .03125em;
  text-transform: none;
  -webkit-font-smoothing: auto;
  padding-bottom: 1rem;
  margin: .25rem 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 550px;
}

.imgContainer {
  cursor: pointer;
  margin-bottom: .5rem;
  height: 75%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-between;
}

.imgMovie {
  border-radius: 12px 12px 0 0;
  object-position: center;
  height: 100%;
}

.haveImg {
  width: 100%;
  object-fit: cover;
}

.haveNotImg {
  width: 100%;
  object-fit: contain;
}

.titleContainer {
  display: flex;
  padding: 0px 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 10px;
}

.movieTitle {
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: .03125em;
  text-transform: none;
  -webkit-font-smoothing: auto;
  line-height: 1.25rem;
  color: #000;
  // width: 500px;            
  white-space: nowrap;     /* keep text in one line */
  overflow: hidden;        /* hide overflowing text */
  text-overflow: ellipsis; /* show "…" at the end */
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0px 0.5rem;
  box-sizing: border-box;
  text-overflow: ellipsis;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: .03125em;
  text-transform: none;
  -webkit-font-smoothing: auto;
  line-height: 1.25rem;
  color: #000;
}

.editContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 0.5rem;
  box-sizing: border-box;
}

.editTitle {
  font-size: 0.7rem;
}
