.detailsPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButtonContainer {
  position: fixed;
  top: 3%;
  left: 3%;
}

.detailsContainer {
  width: 1200px;
  display: flex;
  gap: 50px;
  color: var(--main-text-color);
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  margin: 3% 0;
}

.detailsContainerSkeleton {
  width: 1200px;
  height: 700px;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 15px;
  display: flex;
  align-self: center;
  margin: 0 auto;
  margin: 3% 0;
}

.baseInfo {
  border-right: 1px solid var(--checkbox-disabled-background);
  padding-right: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 25%;
}

.posterContainer {
  width: 100%;
  height: 400px;
}

.imgMovie {
  height: 100%;
  border-radius: 10px;
}

.haveImg {
  width: 100%;
  object-fit: cover;
}

.haveNotImg {
  width: 100%;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 17px;
}

.infoItem {
  line-height: 1;
  display: flex;
  gap: 5px;
  font-size: 15px;
}

.itemTitle {
  font-weight: 600;
}

.genres {
  display: flex;
  gap: 10px;
}

.addInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 65%;
}

.plot {
  display: flex;
  gap: 10px;
}

.addInfoTitle {
  font-size: 17px;
  font-weight: 600;
}

.addInfoItem {
  font-size: 17px;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actors {
  display: flex;
  gap: 10px;
}

.writer {
  display: flex;
  gap: 10px;
}

.actorsTags {
  display: flex;
  gap: 10px;
}

@media (max-width: 1440px) {
  .detailsPage {
    width: 100%;
  }

  .detailsContainer {
    width: 80%;
    flex-direction: row;
    padding: 15px;
  }

  .detailsContainerSkeleton {
    margin: 3% 0;
    width: 80%;
    height: 700px;
  }

  .baseInfo {
    width: 30%;
  }

  .posterContainer {
    width: 90%;
  }

  .addInfo {
    width: 60%;
  }

  .addInfoTitle {
    font-size: 15px;
  }

  .addInfoItem {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .detailsPage {
    width: 100%;
  }

  .detailsContainer {
    width: 90%;
    flex-direction: row;
  }

  .baseInfo {
    width: 30%;
  }

  .imgMovie {
    width: 100%;
  }

  .posterContainer {
    width: 90%;
  }

  .addInfo {
    width: 60%;
  }

  .addInfoTitle {
    font-size: 17px;
  }

  .addInfoItem {
    font-size: 17px;
  }
}

@media (max-width: 1023px) {
  .detailsPage {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .detailsContainer {
    width: 100%;
    flex-direction: column;
    margin: 0;
    border-radius: 0px;;
    min-height: 100vh;
  }

  .detailsContainerSkeleton {
    width: 100%;
    height: 100%;
  }

  .baseInfo {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--checkbox-disabled-background);
  }

  .posterContainer {
    margin: 0 auto;
    width: 250px;
  }

  .imgMovie {
    width: 100%;
  }

  .addInfo {
    width: 100%;
  }

  .addInfoTitle {
    font-size: 17px;
  }

  .addInfoItem {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .detailsPage {
    width: none;
    height: none;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .detailsContainer {
    width: 100%;
    flex-direction: column;
    margin: 0;
    border-radius: 0px;
  }

  .detailsContainerSkeleton {
    width: 100%;
    height: 100%;
  }

  .baseInfo {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--checkbox-disabled-background);
  }

  .imgMovie {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
  }

  .posterContainer {
    margin: 0 auto;
    width: 250px;
  }

  .haveImg {
    object-fit: cover;
  }

  .addInfo {
    width: 100%;
  }

  .addInfoTitle {
    font-size: 15px;
  }

  .addInfoItem {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .detailsPage {
    width: none;
    height: none;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .detailsContainer {
    width: 100%;
    flex-direction: column;
    margin: 0;
    border-radius: 0px;
  }

  .detailsContainerSkeleton {
    width: 100%;
    height: 100%;
  }

  .baseInfo {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--checkbox-disabled-background);
    padding-right: 0;
    padding-bottom: 15px;
  }

  .posterContainer {
    margin: 0 auto;
    width: 250px;
  }

  .imgMovie {
    width: 100%;
  }

  .addInfo {
    width: 100%;
  }

  .addInfoTitle {
    font-size: 15px;
  }

  .addInfoItem {
    font-size: 15px;
  }
}