.home {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locked {
  overflow: hidden;
}

.searchFilm {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.headerContent {
  display: flex;
  gap: 10px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
}

.cardsContainer {
  width: 80%;
  margin: 100px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 18%);
  gap: 20px;
}

.loadingSkeletonContainer {
  margin-top: 100px;
  width: 100%;
}

.cardsSkeletonContainer {
  width: 80%;
  height: 100%;
  margin: 100px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 18%);
  gap: 20px;
}

.movieCardSkeleton {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 550px;
}

.noData {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noDataText {
  font-size: 35px;
  color: var(--grey);
}

@media (max-width: 1440px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, 25%);
  }

  .cardsSkeletonContainer {
    grid-template-columns: repeat(auto-fill, 25%);
  }
}

@media (max-width: 1200px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, 30%);
  }

  .cardsSkeletonContainer {
    grid-template-columns: repeat(auto-fill, 30%);
  }
}

@media (max-width: 1024px) {
  .headerContent {
    flex-direction: row;
  }

  .cardsContainer {
    margin-top: 100px;
    grid-template-columns: repeat(auto-fill, 45%);
  }

  .cardsSkeletonContainer {
    margin-top: 100px;
    grid-template-columns: repeat(auto-fill, 45%);
  }
}

@media (max-width: 768px) {
  .headerContent {
    flex-direction: column;
  }

  .cardsContainer {
    margin-top: 150px;
    grid-template-columns: repeat(auto-fill, 60%);
  }

  .cardsSkeletonContainer {
    margin-top: 150px;
    grid-template-columns: repeat(auto-fill, 60%);
  }
}

@media (max-width: 480px) {
  .cardsContainer {
    margin-top: 150px;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .cardsSkeletonContainer {
    margin-top: 150px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
